<?xml version='1.0'?>
<configuration>
    <dbType>mysql</dbType>    
    <dbName>user1</dbName>
    <dbHost>localhost</dbHost>
    <dbUser>user1</dbUser>
    <dbPassword>user1</dbPassword>
    <cookieName>CamelTeam</cookieName>
    <cookiePath>webroot/tmp/</cookiePath>
    <cookieLife>+1h</cookieLife>
</configuration>


<!---create user_9-->
